.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

formidable.log                                                                
.DS_Store       
.idea/
.vscode/
*.swp 
